@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: 'Montserrat', sans-serif;
}

html {
    font-size: clamp(14px, 1vw + 10px, 16px);
    font-family: var(--font-sans);
}

:root {
    --text-main: #6b6b5e;
    --text-bold: #2c2c2a;

    --bg-main: #fffcf7;
    --bg-dark: #C0C37F;
    
    --bronze: #C4956A;

    --g1: #D8DDA8;
    --g2: #99A558;
    --g3: #909632;
    --g4: #41521E;
    --g5: #27301B;
    --g6: #d3d3d3;
}